# ignore contents of bower_components
bower_components/*

# unignore Materialize folder
!bower_components/Materialize
bower_components/Materialize/*
!bower_components/Materialize/dist

# unignore Bootstrap folder
!bower_components/bootstrap
bower_components/bootstrap/*
!bower_components/bootstrap/dist
